{% extends "auth_base.html" %}

{% block content %}
<h4 class="mb-3">Forgot Password</h4>

<p class="text-muted small mb-3">
    Enter your e-maill address to get the password reset link.
</p>

{% if error %}
<div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}

{% if message %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endif %}

<form id="forgotPasswordForm" action="/forgot-password" method="post">
    <div class="mb-3">
        <label for="email" class="form-label">E-mail Address</label>
        <input type="email" name="email" id="email" class="form-control" required autocomplete="email" />
    </div>

    <button type="submit" class="btn btn-primary w-100 mb-3 sign-button">Send Reset Link</button>
</form>

<script src="/static/js/forgot_password.js"></script>
{% endblock %}